body {
    background-color: rgba(0, 81, 255, 0.132);
    font-family: "Roboto", sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    color: rgb(0, 0, 0);
}

header {
    background-color: rgba(255, 136, 0, 0.352);
    text-align: center;
    column-span: all;
    color : rgb(0, 0, 0);
}

.flexbox {
    display: flex;
    justify-content: space-around;
}
.flex-item{
    padding: 10px;
    margin: 10px;
}
nav h1:hover {
    border: solid 5px;
    border-color: black;
    padding: 5px;
    background-color: white;
}
nav a {
    color: rgb(48, 0, 0);
}


