main {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
body img {
    background-color: black;
    animation: fade 15s;
}
@keyframes fade{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
