/* // <uniquifier>: Use a unique and descriptive class name */

body {
    background-color: rgb(211, 206, 206);
    font-family: "Roboto", serif;
    display:grid;

}

footer {
    background-color: rgb(61, 61, 61);
    font-family: "Roboto", serif;
    color:rgb(211, 206, 206);
    font-size: xx-large;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 5px black;
    background-color: rgb(106, 106, 211);
}
nav h1 {
    border: solid 5px;
    border-color: black;
    padding: 5px;
    background-color: white;
}
.heading{
    display: flex;
    justify-content: center;
    background-color: rgb(61, 61, 61);
    color:rgb(211, 206, 206);
}
header{
    background-color: rgb(61, 61, 61);
}
main {
    max-width: 60%;
    text-align: center;
    display:grid;
    grid-template-rows: 50% 50%;
    border-right: 5px solid black;
    border-left: 5px solid black;
}
.card {
    border-bottom: 5px solid black;
    
}
#profilePicture{
    width: 300px;
}

