@media screen and (max-width: 800px) {
    :root {
            background-color: rgba(128, 128, 128, 0.504);
        }
        header {
            text-align: center;
        }
        .main {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            max-width:100%;
        }
    
        .picture img {
            width: 100%;
            height:auto;
        }
    
        .data {
            background-color: rgba(255, 255, 255, 0.862);
            font-size: larger;
            color: black;
        }
    
        .weather {
            background-color: rgba(255, 255, 255, 0.862);
            font-size: larger;
            color: black;
        }
        .weather img{
            height: 150px;
            width: 150px;
        }
}
