@media screen and (min-width:800px) {

:root{
    background-color: rgba(128, 128, 128, 0.504);
}

main {
    min-height: fit-content;
    min-width: fit-content;
}

header {
    text-align: center;
}

.main {
    display: flex;
    flex-direction:column;
    position:relative;
    z-index: 0;
    width: 100%;
    height: auto;
}
.picture img {
    width: 100%;
    height: auto;
}

.data {
    position: absolute;
    z-index: 3;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.862);
    font-size: larger;
    color: black;
}

.weathers{
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index:2;
    background-color: rgba(255, 255, 255, 0.862);
    font-size: larger;
    color: black;
}
.weather:nth-child(even){
    background-color: rgba(56, 56, 56, 0.401);
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right:1px solid black;
}
footer{
    text-align: center;
}

}