@media screen and (max-width: 500px) {
    body {
            background-color: rgb(195, 195, 195);
            font-family: "Roboto", sans-serif;
        }
    
        body h1 {
            text-align: center;
        }
    
        body header {
            background-color: rgb(254, 39, 39)
        }
    
        /* body nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: rgb(30, 150, 0);
        } */
        #menu {
            display:  block;
            font-size: 2rem;
            font-weight: 700;
            text-decoration: none;
            padding: .5rem .75rem;
            background-color: blue;
            color: black;
            position: fixed;
            top: 0;
            right: 0;
        }
        .show li{
            display: block;
        }
        #menu::before
        {
            content: "=";
        }
        #menu.open::before{
            content:"x"
        }
        .navigation {
            display:none;
            /* content to test*/
            padding: 1rem;
            text-align: center;
            text-decoration: none;
            color: #fff;
        }
        .navigation a:hover {
            background-color: white;
        }
        .open.navigation{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            list-style: none;
            background-color: #333;
            color: #fff;
        }
        .open a{
            display:block;
        }
    
        #home {
            grid-column: 1/ 4;
            align-content: center;
        }
    
        body main {
            align-items: justify;
    
        }
    
        section {
            text-align: center;
    
        }
    
        footer {
            background-color: rgb(254, 39, 39);
            font-size: x-large;
            text-align: center;
        }
        p {
                text-align: center;
        }
        nav h2:hover {
            border: solid 5px;
            border-color: black;
            padding: 5px;
            background-color: white;
        }
        
        nav a:hover {
            background-color: white;
        }
        menu button:hover {
            background-color: aliceblue;
        }

}

/* 
body {
    background-color: rgb(195, 195, 195);

}

body h1 {
    text-align: center;
}

body header {
    background-color: rgb(254, 39, 39)
}

body nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(30, 150, 0);
}

#home {
    grid-column: 1/ 4;
    align-content: center;
}

body main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

footer {
    background-color: rgb(254, 39, 39);
    font-size: x-large;
    text-align: center;
} */

/* body {
    background-color: rgb(195, 195, 195);

}

body h1 {
    text-align:center;
}
body header{
    background-color: rgb(254, 39, 39)
}
body nav {
    display:flex;
    justify-content:space-around;
    align-items: center;
    background-color: rgb(30, 150, 0);
}
#home{
    grid-column: 1/ 4;
    align-content: center;
}

body main {
 display:grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows:1fr 1fr 1fr;
}
footer {
    background-color:rgb(254, 39, 39);
    font-size: x-large;
    text-align:center;
}

body {
    background-color: rgb(195, 195, 195);

}

body h1 {
    text-align:center;
}
body header{
    background-color: rgb(254, 39, 39)
}
body nav {
    display:flex;
    justify-content:space-around;
    align-items: center;
    background-color: rgb(30, 150, 0);
}
#home{
    grid-column: 1/ 4;
    align-content: center;
}

body main {
 display:grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows:1fr 1fr 1fr;
}
footer {
    background-color:rgb(254, 39, 39);
    font-size: x-large;
    text-align:center;
} */
 /* .off-screen-menu {
     background-color: green;
     height: 100vh;
     width: 100%;
     max-width: 75vw;
     position: fixed;
     top: 0;
 } */

